<li>
        @if(!isEditing){
        <label for="todo-{{todo().id}}">
            {{ todo().title }}: {{ todo().body }}
        </label>
        <button (click)="onClickDelete()">Delete</button>
        <button (click)="onEditClick()">Edit</button>
        }
        @else {
        <label for="edit-title-{{todo().id}}">Title:</label>
        <input type="text" id="edit-title-{{todo().id}}" [(ngModel)]="editedTitle" placeholder="Enter new title">
        <br>
        <label for="edit-body-{{todo().id}}">Body:</label>
        <input type="text" id="edit-body-{{todo().id}}" [(ngModel)]="editedBody" placeholder="Enter new body" >
        <br>
        <button (click)="onSaveClick()">Save</button>
        <button (click)="onCancelClick()">Cancel</button>
        }

</li>
